{% extends "single_image/base.html" %}
{% load i18n %}
{% load paginationplus %}

{% block title %}List of images{% endblock %}

{% block extrahead %}
    <style>
        ul.thumbnails li.span2 p a.thumbnail img {
            max-height: 100px;
        }
        
    </style>
{% endblock %}

{% block content %}
    <div class="row offset6">
        <a href="{% url all_images_rating %}">sortirano po ocjeni</a> |
        <a href="{% url all_images %}">sortirano po datumu</a>
    </div>
    <div class="row">
        <div class="span7 offset3">
            <ul class="thumbnails">
                {% for image in images %}
                <li class="span2">
                    <p><a href="{% url single_image image.pk %}" class="thumbnail"><img src="{{ MEDIA_URL }}{{ image.image_file }}" alt="{{ image.description }}">{{ image.description }}</a></p>
                </li>
                {% if forloop.counter|divisibleby:3 %}<div class="clearfix"></div>{% endif %}
                {% endfor %}
            </ul>
        </div>
        
    </div>
    
    {% if is_paginated %}
        <div class="pagination pagination-centered">
            <ul>
                
                {% if page_obj.has_previous %}
                    <li><a href="{% url all_images %}{{ page_obj.previous_page_number }}" class="prev">&lsaquo;&lsaquo;</a></li>
                {% else %}
                    <li class="disabled"><a href="#">&lsaquo;&lsaquo;</a></li>
                {% endif %}
                
                {% paginationplus page_obj all_images %}
                    {% if paginationplus.is_filler %}
                        <li class="disabled"><a href="#">&hellip;</a></li>
                    {% else %}
                        <li class="{% if paginationplus.is_current %}active{% endif %}">
                          <a href="{{ paginationplus.url }}">{{ paginationplus.number }}</a>
                        </li>
                    {% endif %}
                {% endpaginationplus %}
                
                {% if page_obj.has_next %}
                    <li><a href="{% url all_images %}{{ page_obj.next_page_number }}" class="next">&rsaquo;&rsaquo;</a></li>
                {% else %}
                    <li class="disabled"><a href="#">&rsaquo;&rsaquo;</a></li>
                {% endif %}
            </ul>
        </div>
    {% endif %}
{% endblock %}